{% extends "base.html.twig" %}

{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='FTW, FTW Portal, {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block scripts %}
    <script type='text/javascript'>
            $(function() {
                $( "#tabs" ).tabs();
            });
            $(function() {
                $( "input[type=submit], a, button" )
                .button();
            });
            $(function() {
                $( "#conf" ).selectmenu();
            });
            $(function() {
                $( "#user" ).selectmenu();
            });
            $(document).ready(function() {
                setTimeout(function() {
                    $( ".notify" ).fadeOut(1000, function () {
                        $( ".notify" ).css({"visibility":"hidden",display:"block"}).slideUp();
                    });
                }, 3500);
            });
        </script>
{% endblock %}
{% block content %}
    <div id='tabs'>
        <ul>
            <li><a href='#tabs-conf' title='Select Configuration File'>Select Conf File</a></li>
            <li><a href='#tabs-usr' title='User Options'>User Options</a></li>
        </ul>
        <div id='tabs-conf'>
            <form method='post' action='/user/confselect'>
                <table>
                    <tr title='Configuration File'>
                        <td style='float:left;margin-top:8px;margin-right:8px;'>
                            Edit:
                        </td>
                        <td style='float:right;'>
                            <select name='conf' id='conf' style='width:200px;'>
                            {% for choice in confs %}
                                <option>{{ choice }}</option>
                            {% endfor %}
                            </select>
                         </td>
                    </tr>
                    <tr title='Select'>
                        <td style='float:left;'>
                        </td>
                        <td style='float:right;'>
                            <input type='submit' value='Select' />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id='tabs-usr'>
            <form method='post' action='/user/menu'>
                <table>
                    <tr title='User'>
                        <td style='float:left;margin-top:8px;margin-right:8px;'>
                            User:
                        </td>
                        <td style="float:right;">
                            <select name='user' id='user' style='width:200px;'>
                                {% for userchoice in user %}
                                <option>{{ userchoice }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr title='select'>
                        <td style='float:left;'>
                        </td>
                        <td style='float:right;'>
                            <input type='submit' value='Go' />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}